<div class="center">
    <span>
      <a href="mailto:mike.fch1@gmail.com" title="Send me Email!"> 
        <img src="/imgs/email.png"  />
        </img>
      </a>
    </span>
    <span>
      <a href="https://twitter.com/_macro_mike_" title="Follow me on Twitter!">
        <img src="http://www.freetwittericons.com/buttons/new/005.png" border="0"/>
      </a>
    </span>
    
    <span>
      <a href="https://github.com/fntz" title="Follow me on Github!"> 
        <img src="/imgs/octocat.png" />
        </img>
      </a>
    </span>
  </div>