<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-collapse">
    
    <ul id="ul-nav" class="nav navbar-nav">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/archive.html">Archive</a></li>
      <li><a href="/api/">spray-routing-ext api</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="{{site.url}}/feed.xml"><img src="/imgs/rss.png" /></a>
    </ul>
  </div>
</nav>  